backend/app/api/assets/__pycache__/asset.cpython-313.pyc

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd


# Backend/Python
backend/__pycache__/
backend/**/*.pyc
isms-frontend-v2/src/config/confing.js
isms-frontend-v2/src/config/confing.js

# macOS metadata
.DS_Store

# Local archives
backend/app.zip
